# https://clang.llvm.org/extra/clang-tidy/
---
Checks: >
  -*,
  readability-implicit-bool-conversion
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: 1
...

