*.o
*~

.cache/
locale/*.qm
debug/
build/
release/
tmp/

Makefile
Makefile.Debug
Makefile.Release

goldendict.pro.user
goldendict.pro.user.*
hotkeys.pro.user
hotkeys.pro.user.*
object_script.goldendict.Debug
object_script.goldendict.Release

version.txt

*.dmg

.DS_Store
Info.plist
GoldenDict.xcodeproj/

# visual studio files
*.sdf
*.opensdf
*.suo
*.vcxproj.user
/.idea
/.vs
/.vscode
/.qtc_clangd

# cmake files
/cmake-build-**/
/build**/
CMakeLists.txt.user

# kdevelop
.kdev4/
*.kdev4
.qmake.stash
aqtinstall.log
CMakeSettings.json
goldendict.vcxproj
goldendict.vcxproj.filters
GoldenDict_resource.rc

*.TMP
*.orig

node_modules