/* This stylesheet is used for printing only, overriding article-style.css */

@page {
  margin: 1.5cm;
}

html,
body,
.gdarticle {
  background: white !important;
  color: black !important;
}

.gdarticle {
  line-height: 1.6;
  text-align: justify;
}


/* Hide audio icons */

.dsl_s_wav {
  display: none;
}

/* hide collapse area*/

.collapse_expand_area {
  display: none;
}

/* Reset MediaWiki TOC for printing */
.mwiki #toc,
.mwiki .toc {
  position: static !important;
  max-height: none !important;
  max-width: none !important;
  opacity: 1 !important;
  overflow: visible !important;
  float: none !important;
  margin: 1em 0 !important;
  box-shadow: none !important;
  border: 1px solid #aaa !important;
}

.mwiki #toc .toctitle,
.mwiki .toc .toctitle {
  position: static !important;
  border-bottom: 1px solid #aaa !important;
}
