name: autofix.ci
concurrency: 
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true
on:
  pull_request:
    branches:
      # - dev
      # - master
      - staged
      - experimental
    paths-ignore:
      - "docs/**"
      # - ".github/**"
      - "howto/**"
      - "*.md"
      - "locale/**"
permissions:
  contents: read
jobs:
  clang-format:
    name: clang format the code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:

          fetch-depth: 2
      # format the latest commit
      - name: ubuntu install clang-format
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install clang-format
          (/home/linuxbrew/.linuxbrew/opt/clang-format/bin/git-clang-format --binary=/home/linuxbrew/.linuxbrew/opt/clang-format/bin/clang-format --style=file HEAD^) || true
      - uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c


  css-js-html-format:
    name: format css/js/html
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - run: |
          npm install -g prettier
      - run: npx prettier . --write
      - uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c

  update-crowdin:
    name: update crowdin.ts file
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Install Qt
        uses: jurplel/install-qt-action@v4.2.1
        with:
          version: '6.7.2'
          target: 'desktop'
          tools: 'tools_qtcreator,qt.tools.qtcreator'
      - name: update crowdin.ts
        run: |
          lupdate -sort-messages -no-obsolete -no-ui-lines -locations none src -ts locale/crowdin.ts
      - uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c