name: autofix.ci

on:
  pull_request:
    branches:
      # - dev
      # - master
      - staged
      - experimental
    paths-ignore:
      - "docs/**"
      # - ".github/**"
      - "howto/**"
      - "*.md"
      - "locale/**"
permissions:
  contents: read
jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:

          fetch-depth: 2
      # format the latest commit
      - name: ubuntu install clang-format
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install clang-format
          (/home/linuxbrew/.linuxbrew/opt/clang-format/bin/git-clang-format --binary=/home/linuxbrew/.linuxbrew/opt/clang-format/bin/clang-format --style=file HEAD^) || true
      - uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c


  css-js-html-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - run: |
          npm install -g prettier
      - run: npx prettier . --write
      - uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c
